SUPABASE_URL=https://esiatypehvnyeemvnzbl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzaWF0eXBlaHZueWVlbXZuemJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMzcxNjEsImV4cCI6MjEwMDkxMzE2MX0.qHC3Nn6E0A5sP0xHK9JPhxTrmD8Zihlft3yM5VB8ef0
